<br>
<h1></h1>
<div class="text-center card container col-md-3">
    <div class="mt-5 mb-5">
        <img class="mb-4" src="https://res.cloudinary.com/teepublic/image/private/s--ZmkOlyOZ--/c_crop,x_10,y_10/c_fit,w_830/c_crop,g_north_west,h_1038,w_1038,x_-104,y_-386/l_upload:v1565806151:production:blanks:vdbwo35fw6qtflw9kezw/fl_layer_apply,g_north_west,x_-215,y_-497/b_rgb:191919/c_limit,f_jpg,h_630,q_90,w_630/v1485531211/production/designs/1149749_1.jpg" alt="" width="72"
            height="57">
        <h1 class="h3 mb-3 fw-normal">Log In</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Introduce tu usuario">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating mt-1">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Introduce la contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recuerdamelo
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" href="/inicio" type="submit">Login</button>
        <div class="or-container">
            <div class="line-separator"></div>
            <div class="or-label">or</div>
            <div class="line-separator"></div>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline">
                <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Iniciar con Google
            </button>
        </div>
    </div>
</div>